body {
    margin: 0;
    padding: 0;
  
    min-height: 100vh;
    background-color: #dbdde8;
  }

  #imagesHeader {
    width: 100%;
    height: auto;
  }
/* ------------NAV BAR----------- */
nav {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
  }

  #welcome {
    font-weight: 500;
    color: white;
  }

  /* -------------------Header------------- */
#headerImg {
    margin: 0;
    padding: 0;
    background-image: url(./images/food1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 500px;
    display: flex;
  
    align-items: center;
    text-align: center;
  
  }

  #cocktailsButton {
    padding: 13px 43px;
    border-radius: 22px;
    background-color: #d98e43;
    color: #ffff;
    transition: transform 0.3s;
  }
  
  #cocktailsButton:hover {
    transform: scale(1.1);
  }
  #inputSearch {
    width: 40%;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  }
  
  #searchInputArea {
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
  }
  
  
  #searchBarButton {
    border-radius: 30px;
    background-color: black;
    transition: 0.3;
  }
  
  #searchBarButton:hover {
    transform: scale(1.1);
  }
    /* ------------------Japanese Header-------- */
#japaneseHeader {
    margin: 0;
    padding: 0;
    background-image: url(./images/Japanese\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    min-height: 500px;
  
  }

  #indianHeader {
    margin: 0;
    padding: 0;
    background-image: url(./images/indian\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    min-height: 500px;
  }
  
  #turkishHeader {
    margin: 0;
    padding: 0;
    background-image: url(./images/turkish21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    min-height: 500px;
  }
  #italianHeader {
    margin: 0;
    padding: 0;
    background-image: url(./images//italian\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 500px;
  }
  #breakfastHeader {
    margin: 0;
    padding: 0;
    background-image: url(./images/breakfast\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 500px;
  
  }
  #lunchHeader {
    margin: 0;
    padding: 0;
    background-image: url(./images/lunch\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 600px;
  
  }