body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  background-color: #dbdde8;
}

#imagesHeader {
  width: 100%;
  height: auto;
}

/* ------------NAV BAR----------- */
nav {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}


#welcome {
  font-weight: 500;
  color: white;
}

/* -------------------Header------------- */
#headerImg {
  margin: 0;
  padding: 0;
  background-image: url(./images/food1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
  display: flex;

  align-items: center;
  text-align: center;

}

#cocktailsButton {
  padding: 13px 43px;
  border-radius: 22px;
  background-color: #d98e43;
  color: #ffff;
  transition: transform 0.3s;
}

#cocktailsButton:hover {
  transform: scale(1.1);
}









#inputSearch {
  width: 40%;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

#searchInputArea {
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
}


#searchBarButton {
  border-radius: 30px;
  background-color: black;
  transition: 0.3;
}

#searchBarButton:hover {
  transform: scale(1.1);
}

/* ------------------Japanese Header-------- */
#japaneseHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/Japanese\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 500px;

}

#indianHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/indian\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 500px;
}

#turkishHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/turkish21.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  min-height: 500px;
}

#italianHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images//italian\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 500px;
}

#breakfastHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/breakfast\ 3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 500px;

}

#lunchHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/lunch\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 600px;

}

#dinnerHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/dinner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 500px;

}

#dissertHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/dissert\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 500px;

}

#cocktailsHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/cocktails.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 500px;

}

#aboutHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/about\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 1000px;

}

#pastaHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/pasta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 500px;

}

#veganHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/vegan\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 500px;

}

#soupHeader {
  margin: 0;
  padding: 0;
  background-image: url(./images/soup\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 500px;

}



/* -------------Footer-------------------- */
.footer {
  background-color: black;
  color: white;
  /* border-bottom: solid 2px white; */
}

#FooterImage {
  width: 200px;
  height: 70px;
}


/* cancel a default behaviour*/
a {
  color: inherit;
  text-decoration: none;
}

nav ul.nav li.nav-item a {
  color: rgba(215, 200, 191, 0.908);
  font-weight: bold;
  transition: color 0.3;
}

nav ul.nav li.nav-item a:hover {
  color: rgb(107, 214, 214);
}

footer .row .col-4 .row .col-12 a svg {
  margin-left: 12px;
  margin-right: 12px;
}

#FooterSignUp {
  width: 60%;
  margin-left: 9%;
}

#signUpFooterButton {
  border-radius: 30px;
  background-color: black;
  transition: 0.3;
  color: white;
  margin-left: 5px;
}

#signUpFooterButton:hover {
  transform: scale(1.1);
}

#SignUpFooter {
  border-radius: 50px;
  background-color: grey;
}

/* -------------------generated card style */
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translatey(-5px);

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.position-relative {
  position: relative;
}

.save-icon {
  position: absolute;
  top: 10px;

  right: 10px;

  font-size: 20px;
  color: red;
  transition: transform 0.3s ease;
}

.save-icon:hover {
  transform: scale(1.2);
}

/* --------foooter---------- */

footer .row .col-4 .row .col-12 .list-unstyled a li {
  margin-top: 10px;
  transition: 0.3s;
}

footer .row .col-4 .row .col-12 .list-unstyled a li:hover {
  transform: scale(1.1);
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

footer {
  padding-bottom: 3%;
}



/* -----------Media Querry -------------------------------*/
@media (max-width: 995px) {

  #signup,
  #searchIconNav,
  #signin {
    display: none;
  }
}